*.pyc
*.pyo
/__pycache__/

*.aux
*.log
*.out
*.toc
*.synctex.gz
*.blg
*.bbl
*.lot
*.lof
*.fdb_latexmk
*.fls

*.env

*.pt

# Research
1_atas/
2_sentences/
3_sentences_selected/

*.gpu_lock_*

# Experimental Software Engineering
Experimental Software Engineering/Task_1/source
Experimental Software Engineering/Task_1/output.txt
